body {
    background-color: #EEEEEE;
}
h1 {
    text-align: center;
}
h2 {
    padding-left: 8px;
}
.container {
    width: 550px;
    margin: 2% auto;
    padding: .5%;
    border: 5px outset #444444;
    background-color: #D3DEDC;
}
div {
    border: 2px solid #444444;
    padding: 3% 3% 5%;
    border-radius: 10px;
    margin: 3% auto;
}
table {
    border-spacing: 8px;
}
.area {
    padding-left: 8px;
    border: none;
    margin: 0;
}

input {
    width: 95%;
}
input[type="radio"]{
    width: 10%;
}
input[type="number"] {
    width: 35px;
}
#telephone{
    width: 70%;
}
#work-experience {
    width: 99%;
}
.buttons {
    text-align: center;
    
}
.buttons input {
    width: 25%;
    margin: 2% 5% 1%;
    padding: 2%;
    border-radius: 10px;
}
.asterix {
    color: red;
}
footer {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
@media (max-width: 600px){
    .container {
        width: 450px;
    }
}
@media (max-width: 500px){
    .container {
        width: 350px;
    }
}